section.page-intro
  .site-content-container.page-intro__container
    .page-intro__container-block
      +button("На главную", "button--is-iconed", "arrow-right", null, null)(class="button--mod-back")
    .page-intro__container-block
      h1.page-intro__heading.site-heading Партнеры
      .page-intro__text
        p
          | Сотрудничаем с лучшими разработчиками геоинформационных систем
