section.section.client-review
  .site-content-container
    .client-review__container.lazyload(data-bg="assets/images/client-review/bg.svg")
      h2.site-heading.client-review__heading Отзыв клиента
      +icon-mono("qoutes")(class="client-review__quote")
      .client-review__text-wrapper
        .client-review__text-content
          p
            | Текст — зафиксированная на каком-либо материальном носителе человеческая мысль..
        .client-review__author
          img.lazyload(src="#" data-src="assets/images/client-review/img1.jpg" alt="Фото Орлова Алексея Валерьевича, глава г. Екатеринбург")
          .client-review__author-text
            span.client-review__author-name.site-legend Орлов Алексей Валерьевич
            span.client-review__author-position Глава Екатеринбурга
