section.section.next-block
  .site-content-container.next-block__container
    .next-block__item.lazyload(data-bg="assets/images/page-intro-block/img-bg.jpg")
      +button("предыдущий проект", "button--is-iconed", "arrow-right", null, null)(class="next-block__item-btn button--is-transparent")
      h4.next-block__item-heading Единая геоинформационная система администрации Екатеринбурга
    .next-block__item.lazyload(data-bg="assets/images/page-intro-block/img-bg2.jpg")
      +button("следующий проект", "button--is-iconed", "arrow-right", null, null)(class="next-block__item-btn button--is-transparent")
      h4.next-block__item-heading Единая геоинформационная система администрации Екатеринбурга
