section.section.page-info-block
  .site-content-container.page-info-block__container
    .page-info-block__col
      span.page-info-block__legend.site-legend Задача проекта
      h2.page-info-block__heading
        | Организация единого банка пространственных
        | данных о территории города и планах её развития,
        | доступного для всех подразделений Администрации
    .page-info-block__col
      .page-info-block__img-wrapper
        img(src="#" data-src="assets/images/page-info-block/img.svg" alt="Герб Администрации города Екатеринбург" class="lazyload")
        .page-info-block__content
          span.page-info-block__content-legend.site-legend Клиент:
          h3.page-info-block__content-heading Администрация города Екатеринбурга
          span.page-info-block__content-tag Муниципальные гос.структуры
