section.page-info-numbers.section.js-page-info-numbers-parent.js-fade-in
  .site-content-container
    .page-info-numbers__container
      span.site-legend.page-info-numbers__legend Ключевые показатели проекта
      .page-info-numbers__lsit.swiper.js-page-info-numbers
        .swiper-wrapper
          .page-info-numbers__item.swiper-slide
            span.page-info-numbers__num 25%
            p.page-info-numbers__num-text услуг предоставлено в электронном виде
          .page-info-numbers__item.swiper-slide
            span.page-info-numbers__num 25
            p.page-info-numbers__num-text районов подключено к системе
          .page-info-numbers__item.swiper-slide
            span.page-info-numbers__num 3
            p.page-info-numbers__num-text города подключено к системе
    .site-pagination
