section.page-intro-block.section
  .site-container
    .page-intro-block__container.lazyload(data-bg="assets/images/page-intro-block/img-bg.jpg")
      span.page-intro-block__legend 2021 - наст. время
      h1.page-intro-block__heading.site-heading Единая геоинформацион#[br]ная система администрации Екатеринбурга
      .page-intro-block__btns
        +button("Заказать подобный проект", null, null, null, null)(class="button--is-transparent page-intro-block__btn")
        a.page-intro-block__link(href="/")
          span.page-intro-block__link-text Разработано совместно с&nbsp;Вендор
          .page-intro-block__link-icon-wrapper
            img(src="assets/images/page-intro-block/icon.svg" alt="Логотип компании")
