section.section.presentation
  +ticker("ticker-four2")
  .site-content-container
    .presentation__container
      .presentation__img-wrapper
        img.lazyload(data-src="assets/images/page-intro-block/img-bg.jpg" src="#" alt="" class="presentation__preview")
      .presentation__text
        p Текст — зафиксированная на каком-либо носителе мысль..
