section.section.presentation
  +ticker("ticker-four22")(class="presentation__ticker")
  .site-content-container.js-fade-in
    .presentation__container.js-play-video(data-video-url="https://www.youtube.com/watch?v=896mP-oaMcM")
      .presentation__img-wrapper
        img.lazyload(data-src="assets/images/page-intro-block/img-bg.jpg" src="#" alt="" class="presentation__preview")
      .presentation__text
        p Текст — зафиксированная на каком-либо носителе мысль..
