@font-face {
	font-weight: 400;
	font-family: "Roboto";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/roboto-regular.woff2") format("woff2"),
		url("../fonts/roboto-regular.woff") format("woff");
}
