*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
  line-height: 1.2;
}

body {
  color: var(--color-dark);
  font-family: var(--main-ff);
  background-color: var(--color-bg);
}

ul,
ol {
  list-style: none;
}

ol {
  counter-reset: ordered-list;

  &>li {
    counter-increment: ordered-list;

    &::before {
      content: counter(ordered-list, decimal-leading-zero) '.';
    }
  }
}

input,
textarea {
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  background-color: transparent;
  display: block;
}

input:not([type='checkbox']):not([type='radio']) {
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  box-shadow: none;
  display: block;
  width: 100%;
  overflow: auto;
  height: 20rem;
  @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  outline: none;
  display: inline-flex;
  position: relative;
  transition: color 0.2s;
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s;
  color: inherit;
}

svg {
  flex-shrink: 0;
  display: block;

  user-select: none;
  fill: currentColor;
  transition: fill 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}

.list-rest {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.site-container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.js-focus-visible button:focus:not(.focus-visible) {
  box-shadow: none;
}

button:focus {
  box-shadow: 0 0 0 10px red;
}

