main.page-main.main
  include ../../parts/blocks/page-intro-block.pug
  include ../../parts/blocks/page-info-block.pug
  include ../../parts/blocks/page-info-numbers.pug
  include performed-work.pug
  include results.pug
  include ../../parts/blocks/presentation.pug
  include ../../parts/blocks/client-review.pug
  include ../../parts/blocks/next-block.pug
  include ../../parts/contact-us.pug
