.select {
  &__label {
    font: var(--font-subheading);
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
  }

  .choices__inner {
    background-color: transparent;
    padding: 0 !important;
    border: none;
    border-radius: 0;
    min-height: 0;
    font: var(--font-text-md);
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
  }

  .choices {
    &::after {
      border: none !important;
      top: 0.5rem;
      right: 0;
      margin: 0 !important;
      width: 1rem;
      height: 0.8rem;
      background-image: url(../images/icons/mono/tickArrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.is-flipped {
      .choices__list--dropdown {
        bottom: calc(100% + 1rem);
      }
    }

    &.is-open {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .choices__list--single {
    padding: 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-text-grey);
  }

  .choices__list--dropdown {
    border: none;
    border-radius: 1.2rem !important;
    padding: 0;
    padding-right: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    top: calc(100% + 1rem);

    @include mq(sm) {
      box-shadow: 0 0 20px var(--color-support);
    }

    .choices__list {
      max-height: 16.8rem;
      @include customScrollbar();
    }


    .choices__item--choice {
      padding: 1.2rem 1.6rem;
      font: var(--font-text-md);
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;

      &.is-highlighted {
        background-color: transparent;
        color: var(--color-main-bg);
      }

      &.is-selected {
        color: var(--color-main-bg);
      }

      &:nth-child(1) {
        padding-top: 0.4rem;
      }

      &:last-child {
        padding-bottom: 0.4rem;
      }
    }
  }

}
