extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Клиенты"
  - const siteLang = "ru"
  - let page = "clients"

block content
  include pages/clients/main.pug
