extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Контакты"
  - const siteLang = "ru"
  - let page = "contacts"

block content
  include pages/contacts/main.pug
