extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Партнеры"
  - const siteLang = "ru"
  - let page = "partners"

block content
  include pages/partners/main.pug
