extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Детальная проекта"
  - const siteLang = "ru"
  - let page = ""

block content
  include pages/project-detail/main.pug
