-
  const projectsList = [
    {
      img: "img1",
      tags: ["Муниципальные гос.структуры"],
      date: "2021 - наст. время",
      name: "Единая геоинформационная система администрации Екатеринбурга",
      text: "Организация единого банка пространственных данных о территории города и планах её развития, доступного для всех подразделений Администрации"
    },
    {
      img: "img1",
      tags: ["Муниципальные гос.структуры"],
      date: "2021 - наст. время",
      name: "Единая геоинформационная система администрации Екатеринбурга",
      text: "Организация единого банка пространственных данных о территории города и планах её развития, доступного для всех подразделений Администрации"
    },
    {
      img: "img1",
      tags: ["Муниципальные гос.структуры"],
      date: "2021 - наст. время",
      name: "Единая геоинформационная система администрации Екатеринбурга",
      text: "Организация единого банка пространственных данных о территории города и планах её развития, доступного для всех подразделений Администрации"
    },
    {
      img: "img1",
      tags: ["Муниципальные гос.структуры"],
      date: "2021 - наст. время",
      name: "Единая геоинформационная система администрации Екатеринбурга",
      text: "Организация единого банка пространственных данных о территории города и планах её развития, доступного для всех подразделений Администрации"
    },
  ]

section.section.projects
  .site-content-container
    .projects-list
      for item in projectsList
        +project(item.img, item.tags, item.date, item.name, item.text)(class="projects-list__item")
    .projects__btn-wrapper
      +button("Загрузить еще", null, null, null, "loader")(class="projects__btn")
