mixin button(name, isIcon, icon, modClass)
  button.button(class=[isIcon, modClass].join(' '))&attributes(attributes)
    if isIcon === 'button--is-iconed'
      span.button__icon-wrapper
        +icon-mono(icon)(width="20" height="20" class="button__icon")
    | #{name}
