section.page-intro
  .site-content-container.page-intro__container
    .page-intro__container-block
      +button("На главную", "button--is-iconed", "arrow-right", null, null)(class="button--mod-back")
    .page-intro__container-block
      h1.page-intro__heading.site-heading Контакты
      .page-intro__grid-container
        .page-intro__grid-container-block
          h4.page-intro__legend ООО «ГИСГИС»
          .page-intro__small-text
            p
              | Республика Татарстан, г. Казань, ул. Марселя Салимжанова, 2В, офис 201
        .page-intro__grid-container-block
          a(href="tel:+78009000000" class="page-intro__legend") +7 (800) 900 00 00
          a(href="mailto:post@gisgis.ru" class="page-intro__small-text") post@gisgis.ru
