section.contacts-map.js-map(data-coords="55.792392, 49.111480" data-center="55.792392, 49.111480")
  .site-content-container
    .contacts-map__map.js-map-element

script(src="https://api-maps.yandex.ru/2.1/?apikey=b0b15954-57af-4901-b78c-0ad5bd94cda8&lang=ru_RU")
