section.section.about
  +ticker("ticker-one")
  .site-content-container.about__container
    .about__content-container
      .about__heading-container-block
        h2.site-heading.about__heading
          | колоссальный опыт на&nbsp;крупных проектах
      .about__heading-container-block
        .about__heading-text.site-main-text
          p
            | Cпециализируемся на внедрении геоинформационных
            | систем для решения задач государственного и муниципального управления.
        +button("о компании", "button--is-iconed", "arrow-right")
    .about__content-container
      .about__item-block
        img(src="assets/images/about/img.jpg" alt="Картинка картинка" class="about__item-img")
        +slider-nav("js-about-btn-prev", "js-about-btn-next")(class="about__slider-nav")
        .swiper.about__slider.js-about-slider
          .swiper-wrapper
            each i in Array.from(Array(3).keys())
              .about__item-content.swiper-slide
                h4.about__item-heading
                  | Одни из лидеров рынка#{i}+
                .about__item-text
                  span.about__item-num
                    | 2#{i}+
                  p
                    | реализованных проектов за последние 3 года
      .about__item-block
        img(src="assets/images/about/ppl.jpg" alt="Команда" class="about__item-image")
