-
  const items = [
    "Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»",
    "Министерство информатизации и связи Удмуртской Республики",
    "Министерство информационных технологий, связи и цифрового развития Челябинской области",
    "Департамент строительства и архитектуры Ивановской области",
    "Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»",
    "ОГБУ «Челябинский региональный центр навигационно-информационных технологий»",
    "БУ РК «Дирекция по строительству объектов социальной, транспортной и инженерной инфраструктуры Республики Карелия»",
  ]

section.clients.section
  .site-content-container.clients__container
    h2.site-heading.clients__heading.js-heading
      | Наши клиенты
    .clients__heading-text
      p
        | Внедряем геоинформационные системы для
        | государственных структур и коммерческих организаций
    .swiper.js-clients-slider
      .clients__list.swiper-wrapper
        for item in items
          .clients__item.swiper-slide
            img(data-src="assets/images/clients/img1.png" src="#" class="lazyload" alt="Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»")
            p= item
      .site-pagination
    .swiper.js-clients-slider
      .clients__list.swiper-wrapper
        for item in items
          .clients__item.swiper-slide
            img(data-src="assets/images/clients/img1.png" src="#" class="lazyload" alt="Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»")
            p= item
      .site-pagination
