section.contact-us
  .site-content-container
    .contact-us__container
      .contact-us__block
        h2.site-heading.contact-us__heading
          | Свяжитесь с нами
        include ../../parts/form.pug

      .contact-us__block
        img(src="assets/images/contact-us/img.png" alt="" class="contact-us__img")
        a.contact-us__tel.site-heading(href="tel:+78432120148")
          | 8 843 212-01-48
        p.contact-us__text
          | Республика Татарстан, г. Казань, ул. Марселя Салимжанова, 2В#[br]
          a(href="mailto:post@gisgis.ru")
            | post@gisgis.ru
