main.page-main.main
  include intro.pug
  include about.pug
  include services.pug
  include projects.pug
  include clients.pug
  include partners.pug
  include team.pug
  include ../../parts/contact-us.pug
