section.section.team
  .site-content-container.team__container
    .team__block
      span.team__legend МЫ ИЩЕМ ТАЛАНТЫ
      h2.site-heading.team__heading.js-heading Присоединяйтесь к&nbsp;команде профессионалов
      .team__text
        p
          | Работа у нас — это всегда интересные задачи, возможность проявить себя и поддержка коллектива.
      img(data-src="assets/images/team/block-img.jpg" src="#" alt="" class="lazyload team__img team__img--mobile")
      .team__small-boxes
        .team__small-box
          img(data-src="assets/images/team/box-img.jpg" src="#" alt="" class="lazyload team__small-boxes-img")
          span.team__small-boxes-text Официальный трудовой договор с первого дня
        .team__small-box
          img(data-src="assets/images/team/box-img.jpg" src="#" alt="" class="lazyload team__small-boxes-img")
          span.team__small-boxes-text Стабильная заработная плата и премии за достижения
      .team__btns
        +button("Карьера у нас", null, null, null, "arrow-right", "link")(class="team__btn" href="/")
        +button("открытые Вакансии", null, null, null, "hh", "link")(class="team__btn mod-hh" href="/")
    .team__block
      img(data-src="assets/images/team/block-img.jpg" src="#" alt="" class="lazyload team__img")
