section.section.team
  .site-content-container.team__container
    .team__block
      span.team__legend МЫ ИЩЕМ ТАЛАНТЫ
      h2.site-heading.team__heading Присоединяйтесь к&nbsp;команде профессионалов
      .team__text
        p
          | Работа у нас — это всегда интересные задачи, возможность проявить себя и поддержка коллектива.
      img(src="assets/images/team/block-img.jpg" alt="" class="team__img team__img--mobile")
      .team__small-boxes
        .team__small-box
          img(src="assets/images/team/box-img.jpg" alt="" class="team__small-boxes-img")
          span.team__small-boxes-text Официальный трудовой договор с первого дня
        .team__small-box
          img(src="assets/images/team/box-img.jpg" alt="" class="team__small-boxes-img")
          span.team__small-boxes-text Стабильная заработная плата и премии за достижения
      .team__btns
        +button("Карьера у нас", null, null, null)
        +button("открытые Вакансии", null, null, null)
    .team__block
      img(src="assets/images/team/block-img.jpg" alt="" class="team__img")
