form.form(action="/")
  label.form__label
    input(type="text" name="name" class="form__input js-input")
    span.form__label-name.js-input-heading Ваше имя
  label.form__label
    input(type="text" name="name" class="form__input js-input")
    span.form__label-name.js-input-heading Номер телефона
  label.form__label
    input(type="text" name="name" class="form__input js-input")
    span.form__label-name.js-input-heading Комментарий
  .form__btn-wrapper
    label.form__agreement
      input(type="checkbox" class="visually-hidden")
      span.form__agreement-text
        | Я согласен на обработку персональных данных и
        a(href="/")
          | политикой конфиденциальности
    +button("Отправить", null, null, null)(class="form__btn")
