form.form(action="/" data-need-validation)
  label.form__label
    input(type="text" name="name" data-parsley-required class="form__input js-input")
    span.form__label-name.js-input-heading Ваше имя
    +error
  label.form__label
    input(type="text" name="name" data-parsley-required class="form__input js-input")
    span.form__label-name.js-input-heading Номер телефона
    +error
  label.form__label
    input(type="text" name="name" class="form__input js-input")
    span.form__label-name.js-input-heading Комментарий
  .form__btn-wrapper
    label.form__agreement
      input(type="checkbox" data-parsley-required class="visually-hidden")
      span.form__agreement-text
        +icon-mono("tick")(width="11" height="7" class="form__agreement-icon")
        | Я согласен на обработку персональных данных и
        a(href="/")
          | политикой конфиденциальности
    +button("Отправить", null, null, null)(class="form__btn")
