-
  let nav_arr = [
    {
      text: "О компании",
      name: ""
    },
    {
      text: "Карьера",
      name: "career"
    },
    {
      text: "Партнеры",
      name: "partners"
    },
    {
      text: "Клиенты",
      name: "clients"
    },
    {
      text: "Контакты",
      name: "contacts"
    }
  ]

header.header.fix-blocks
  .site-container.header__container
    .header__container-block
      a.header__logo.logo(href="/")
        img(src="assets/images/logo.svg" alt="Логотип компании")
      .header__btns
        +button("Услуги")
        +button("Проекты")
    .header__container-block
      nav.nav.header__nav
        ul.nav__list
          for item in nav_arr
            li.nav__item: a.nav__link(href="/" class={'nav__link--active': page === item.name})= item.text
      button.header__burger-btn.js-open-menu
        span
        span
        span
      +button("Связаться", "button--is-iconed", "chat")(class="header__call-btn")
