-
  const list = [
    "О компании",
    "Карьера",
    "Партнеры",
    "Клиенты",
    "Контакты",
  ]

.mobile-menu.js-menu
  .site-container.mobile-menu__container
    .mobile-menu__heading-container
      a(href="/" class="mobile-menu__logo")
        img(src="assets/images/logo_white.svg" alt="Логотип Компании")
      button.mobile-menu__close-btn.js-close-menu
        span
        span
    ul.mobile-menu__list
      for item in list
        li.mobile-menu__item
          a.mobile-menu__link(href="/")= item
    .mobile-menu__btns
      +button("Услуги", null, null, null)(class="mobile-menu__btn")
      +button("Проекты", null, null, null)(class="mobile-menu__btn")
      +button("Связаться", null, null, null, "chat", "link")(class="mobile-menu__btn")
