.performed-work {
  &__heading {
    margin-bottom: 5.6rem;
    text-transform: uppercase;
    max-width: 68.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    counter-reset: num;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: var(--grid-offset);
    padding: 4rem;
    border: 1px solid var(--color-support);
    border-radius: 3.2rem;

    @include mq(sm) {
      padding: 2rem;
      border-radius: 2rem;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
    }

    &::before {
      position: absolute;
      top: 4rem;
      left: 4rem;
      font: var(--font-heading-4);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
      counter-increment: num;
      content: "0"counter(num);

      @include mq(sm) {
        top: 3rem;
        left: 2rem;
        font: var(--font-heading-4);
        font-stretch: 135%;
        font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
      }
    }
  }

  &__item-col {
    &:nth-child(1) {
      grid-column: 8 span;
    }

    &:nth-child(2) {
      grid-column: 14 span;
    }

    @include mq(sm) {
      grid-column: 4 span !important;

      &:nth-child(2) {
        padding-top: 6rem;
      }
    }
  }
}


.performed-work-accordion {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: static;

    &.is-active {
      .performed-work-accordion__circle {
        transform: rotate(45deg);
        background-color: var(--color-main);

        &::after,
        &::before {
          background-color: var(--color-white);
        }
      }
    }
  }

  &__heading {
    font: var(--font-heading-4);
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    max-width: calc(100% - 6.4rem);
    text-align: left;
    text-transform: uppercase;

    @include mq(sm) {
      max-width: 100%;
      font: var(--font-heading-4-mobile);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    }
  }

  &__circle {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 1px solid var(--color-main);
    border-radius: 50%;
    transition: transform var(--transition);

    &::after,
    &::before {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1rem;
      height: 0.2rem;
      background-color: var(--color-main);
      transform: translate(-50%, -50%);
      transition: background-color var(--transition);
      content: "";
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    @include mq(sm) {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }

  &__body {
    font: var(--font-text-md);
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    color: var(--color-text-grey);
    overflow: hidden;
  }

  &__body-inner {
    padding-top: 2.4rem;
    max-width: calc(100% - 6.4rem);

    @include mq(sm) {
      max-width: 100%;
      font: var(--font-text-sm);
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    }
  }
}
