.footer {
  position: relative;
  z-index: 1;
  padding-bottom: 5.6rem;

  &__bg-img {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: var(--grid-offset);
  }

  &__container-block {
    &:nth-child(1) {
      grid-column: 5 span;
    }

    &:nth-child(2) {
      grid-column: 5 span;
    }

    &:nth-child(3) {
      grid-column: 6 span;
    }

    &:nth-child(4) {
      grid-column: 8 span;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem var(--grid-offset);
  }

  &__nav-item {
    grid-column: 2 span;
  }

  &__nav-link {
    color: var(--color-text-grey);
    font: var(--font-menu-item);
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'500, 'XOPQ'96, 'YOPQ'107, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'618, 'opsz'105;
  }

  &__legend {
    display: inline-block;
    margin-bottom: 2rem;
    font: var(--font-heading-3);
    text-transform: uppercase;
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
  }

  &__small-legend {
    margin-bottom: 1rem;
    font: var(--font-text-sm);
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  &__copyright {
    margin-top: 5.5rem;

    .footer__container-block {
      display: flex;
    }
  }

  &__copyright-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;

    .icon {
      margin-left: 1.7rem;
    }
  }
}

a.footer__small-legend {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
