.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #1E1E1E, $alpha: 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &.is-open {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    height: auto;
    width: 100%;
    max-width: 50rem;
    background-color: var(--color-white);
    transform: translate(-50%, -50%);
    border-radius: 1.6rem;
    box-shadow: 0 0 1rem rgba($color: #000, $alpha: 0.1);

    &.modal-open {
      display: block;
    }
  }

  &__content {
    position: relative;
    padding: 3.4rem 4rem;
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 5.4rem;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      // span {
      //   background-color: var(--color-light-green);
      // }
    }

    &:active {
      // span {
      //   background-color: var(--color-dark-green);
      // }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.3rem;
      height: 0.1rem;
      background-color: black;
      display: block;
      transition: background-color var(--transition);

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__legend {
    text-align: center;
  }
}
