.page-intro {
  margin-bottom: 5.4rem;

  @include mq(sm) {
    margin-bottom: 4rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: var(--grid-offset);

    @include mq(sm) {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px 0;
    }
  }

  &__container-block {
    &:nth-child(1) {
      grid-column: 4 span;
    }

    &:nth-child(2) {
      grid-column: 18 span;
    }

    @include mq(md) {
      grid-column: 22 span !important;
    }

    @include mq(sm) {
      grid-column: 4 span !important;
    }
  }

  &__text {
    margin-top: 2.4rem;
    max-width: 37.1rem;

    @include mq(sm) {
      margin-top: 2rem;
      max-width: 100%;
    }
  }

  &__grid-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: var(--grid-offset);
    margin-top: 5.6rem;

    @include mq(sm) {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px 0;
      margin-top: 3.2rem;
    }
  }

  &__grid-container-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;

    &:nth-child(1) {
      grid-column: 6 span;
    }

    &:nth-child(2) {
      grid-column: 12 span;
    }

    @include mq(sm) {
      grid-column: 4 span !important;
      gap: 1rem;
    }
  }

  &__legend {
    font: var(--font-heading-2);
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;

    @include mq(sm) {
      font: var(--font-heading-4);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    }

  }

  &__small-text {
    font: var(--font-text-md);
    color: var(--color-text-support);
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    max-width: 30.8rem;

    &._blue {
      color: var(--color-main);

      &:hover {
        color: var(--color-support);
      }
    }



    @include mq(sm) {
      font: var(--font-text-sm);
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
      max-width: 100%;
    }
  }
}
