.site-pagination {
  position: static !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 0 1.6rem;

  .swiper-pagination-bullet {
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--color-main);
    margin: 0 !important;
    transition: width 400ms;
    flex-shrink: 0;

    &.swiper-pagination-bullet-active {
      width: 2.4rem;
      border-radius: 10rem;
    }
  }

  &--is-white {
    .swiper-pagination-bullet {
      background-color: var(--color-white);

      &.swiper-pagination-bullet-active {
        background-color: var(--color-white);
      }
    }
  }
}
