.site-ticker {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;

  @include mq(md) {
    margin-bottom: 8rem;
  }

  &__item {
    flex-shrink: 0;
    display: block;
    height: 8rem;
    width: 200rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: scroll var(--ticker-speed) infinite linear;
    margin-right: 4rem;

    @include mq(md) {
      height: 5rem;
      width: 134rem;
      background-position: left center;
      margin-right: 2rem;
    }

    @include mq(sm) {
      height: 4rem;
      width: 99.6rem;
      margin-right: 1rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0)
  }
}
