.site-ticker {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;

  @include mq(md) {
    margin-bottom: 8rem;
  }

  @include mq(sm) {
    margin-bottom: 6rem;
  }

  &__item {
    flex-shrink: 0;
    display: block;
    height: 7rem;
    width: 237.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 3em;

    &:last-child {
      margin-right: 0;
    }

    @include mq(md) {
      height: 5rem;
      background-position: left center;
      margin-right: 2rem;
      width: 220.2rem;

      background-size: cover;
    }

    @include mq(sm) {
      height: 4rem;
      margin-right: 1rem;
      width: 175.2rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0)
  }
}
