.social {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--color-support);
    border-radius: 50%;
    margin-top: 3rem;

    .icon {
      display: block;
      width: 2rem;
      height: 2rem;
      color: var(--color-support);
    }
  }
}
