.about {
  &__content-container {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: var(--grid-offset);

    &:nth-of-type(1) {
      margin-bottom: 7.2rem;
    }

    @include mq(sm) {
      gap: 2rem 0;

      &:nth-of-type(1) {
        margin-bottom: 4rem;
      }

      &:nth-of-type(2) {
        gap: 1rem 0;
      }
    }
  }

  &__heading-container-block {
    &:nth-child(1) {
      grid-column: 12 span;
    }

    &:nth-child(2) {
      grid-column: 10 span;
    }

    @include mq(md) {
      grid-column: 22 span !important;
    }
  }

  &__heading {
    max-width: 56.6rem;

    @include mq(md) {
      max-width: 100%;
    }
  }

  &__heading-text {
    margin-bottom: 2.8rem;
    max-width: 50.2rem;

    @include mq(md) {
      max-width: 80%;
    }

    @include mq(sm) {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__item-block {
    position: relative;
    display: flex;
    align-items: stretch;
    grid-column: 11 span;
    min-height: 46rem;
    border: 1px solid var(--color-support);
    border-radius: 3.2rem;
    padding: 4.8rem;
    overflow: hidden;

    &:nth-of-type(2) {
      padding: 0;
      border: none;
    }

    @include mq(md) {
      grid-column: 22 span;
    }

    @include mq(sm) {
      min-height: 0;
      border-radius: 2rem;
      padding: 2rem;

      &:nth-of-type(1) {
        order: 2;
      }

      &:nth-of-type(2) {
        order: 1;
      }
    }
  }

  &__item-content {
    margin-left: auto;
    display: flex;
    flex-direction: column;

    @include mq(sm) {
      max-width: 100%;
      margin-left: 0;
      flex-grow: 1;
    }
  }

  &__slider {
    max-width: 30rem;
    margin: 0;
    margin-left: auto;

    @include mq(sm) {
      max-width: 100%;
    }
  }

  &__item-heading {
    font: var(--font-heading-4);
    text-transform: uppercase;
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;

    @include mq(sm) {
      max-width: calc(100% - 9rem);
      margin-bottom: 6.7rem;
      font: 700 1.6rem/1 var(--main-ff);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    }
  }

  &__item-text {
    margin-top: auto;

    p {
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;

      @include mq(sm) {
        font: var(--font-text-sm);
        font-stretch: 140%;
        font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
      }
    }

    @include mq(sm) {
      max-width: 17.7rem;
      margin-left: auto;
    }
  }

  &__item-num {
    display: block;
    margin-bottom: 1.2rem;
    font: var(--font-num-big);
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;

    @include mq(sm) {
      font: var(--font-num-small);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
      margin-bottom: 1rem;
    }
  }

  &__slider-nav {
    align-self: flex-start;

    @include mq(sm) {
      position: absolute;
      top: 2rem;
      right: 2rem;
      z-index: 2;
    }
  }

  &__item-img {
    position: absolute;
    left: 4.8rem;
    bottom: 4.8rem;
    width: 21.1rem;
    height: 23.6rem;
    object-fit: cover;
    mix-blend-mode: darken;

    @include mq(sm) {
      width: 8.4rem;
      height: 9.3rem;
      left: 2rem;
      bottom: 2rem;
    }
  }

  &__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3.2rem;

    @include mq(md) {
      height: auto;
    }

    @include mq(sm) {
      height: 23.2rem;
      border-radius: 2rem;
    }
  }
}
