.clients {
  &__heading {
    margin-bottom: 2rem;
    max-width: 69.5rem;

    @include mq(sm) {
      max-width: 100%;
    }
  }

  &__heading-text {
    max-width: 67.7rem;
    margin-bottom: 7.2rem;

    p {
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    }

    @include mq(sm) {
      max-width: 100%;

      font: var(--font-text-md);
      margin-bottom: 4rem;
    }
  }

  .swiper {
    overflow: visible;

    .swiper-wrapper {
      transition-timing-function: linear;
    }

    @include mq(sm) {
      &:nth-of-type(2) {
        display: none;
      }
    }

  }

  &__list {
    display: flex;
    margin-bottom: 4rem;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    @include mq(sm) {
      margin-bottom: 0;

      &:nth-last-of-type(1) {
        display: none;
      }
    }
  }

  &__item {
    flex-shrink: 0;
    padding: 2.4rem;
    border-radius: 2.4rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    border: 1px solid var(--color-support);

    img {
      display: block;
      object-fit: contain;
      width: 8.8rem;
      height: 8.8rem;
      mix-blend-mode: darken;
      flex-shrink: 0;
    }

    p {
      max-width: 34.1rem;
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    }

    @include mq(sm) {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      gap: 0;
      width: 100%;

      img {
        width: 5.7rem;
        height: 6.4rem;
        object-fit: contain;
        margin-bottom: 2rem;
      }

      p {
        font: var(--font-text-md);
        max-width: 100%;

        font-stretch: 140%;
        font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
      }
    }
  }
}
