.contact-us {
  margin-bottom: 14rem;

  @include mq(sm) {
    margin-bottom: 8rem;
  }

  &__container {
    position: relative;
    padding: 12rem 6.4rem;
    color: var(--color-white);
    background-color: var(--color-main-bg);
    border-radius: 3.2rem;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: var(--grid-offset);

    @include mq(md) {
      gap: 4rem;
    }

    @include mq(sm) {
      padding: 4rem 2rem;
      display: block;
      border-radius: 2rem;
    }
  }

  &__block {
    &:nth-of-type(1) {
      grid-column: 11 span;
    }

    &:nth-of-type(2) {
      grid-column: 9 span;

      @include mq(sm) {
        margin-top: 4rem;
      }
    }

    @include mq(md) {
      grid-column: 20 span !important;
    }
  }

  &__heading {
    margin-bottom: 2.5rem;
  }

  &__tel {
    display: inline-block;
    margin-bottom: 4rem;

    @include mq(sm) {
      margin-bottom: 2.4rem;
    }
  }

  &__img {
    position: absolute;
    bottom: -11rem;
    right: 4rem;
    width: 43.1rem;
    height: 39.6rem;
    display: block;
    object-fit: contain;

    @include mq(md) {
      display: none;
    }
  }

  &__text {
    a {
      @include mq(md) {
        display: inline-block;
        margin-top: 4rem;
        text-decoration: underline;
      }
    }

    @include mq(sm) {
      font: var(--font-text-md);
      max-width: 100%;

      a {
        margin-top: 2rem;
      }
    }
  }
}
