.intro {
  position: relative;
  z-index: 1;
  padding-bottom: 49.5rem;

  @include mq(custom, max, 1536) {
    padding-bottom: 33rem;
  }

  @include mq(md) {
    padding-bottom: 0;
    height: 100vh;
  }

  @include mq(sm) {
    height: auto;
    padding-bottom: 15rem;
  }

  &__cloud {
    position: absolute;
    top: -28rem;
    left: 0;
    z-index: 21;
    animation: clouds 90s linear infinite;

    @include mq(custom, min, 1999) {
      top: -4rem;
    }

    &:nth-child(2) {
      top: auto;
      left: auto;
      bottom: -28rem;
      right: -56rem;
    }
  }

  // &__container {}

  &__content {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: var(--grid-offset);

    &-block {
      &:nth-child(1) {
        grid-column: 11 span;
      }

      &:nth-child(2) {
        position: relative;
        z-index: 22;
        grid-column: 13 span;
      }
    }

    @include mq(md) {
      display: block;

      &-block {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          // z-index: 60;
        }
      }
    }
  }

  &__content-heading {
    font: var(--font-heading-1);
    max-width: 76rem;
    text-transform: uppercase;
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    margin-bottom: 2.4rem;

    @include mq(md) {
      max-width: 100%;
    }

    @include mq(sm) {
      font: var(--font-heading-3);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    }
  }

  &__content-text {
    max-width: 44.6rem;

    @include mq(sm) {
      font: var(--font-text-md);
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    }
  }

  &__heading-text {
    font: var(--font-heading-2);
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }

  &__heading-subtext {
    font: var(--font-subheading);
    font-stretch: 140;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
  }

  &__heading-text-wrapper {
    position: relative;
    z-index: 2;
    max-width: 30.5rem;
    opacity: 0;
  }

  &__select {
    position: absolute;
    top: -3rem;
    left: var(--content-padding);
    max-width: calc(100% - var(--content-padding) * 2);
    width: 100%;
    opacity: 0;
  }

  &__select-heading {
    padding: 1.1rem 2rem;
    border-radius: 99.9rem;
    border: 1px solid var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__select-heading-text {
    font: var(--font-heading-3-mobile);
    font-weight: 400;
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    color: var(--color-main);

    @include mq(sm) {
      font: var(--font-text-md);
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    }
  }

  &__select-heading-icon {
    width: 1.6rem;
    height: 1.6rem;
    // color: var(--color-main);
    fill: none;
    stroke: var(--color-main);
  }

  &__select-choises {
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 24px #E0EBF9;
    opacity: 0;
    visibility: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
      z-index: 60;
    }
  }

  &__select-choise {
    font: var(--font-text-sm);
    margin-bottom: 1.5rem;
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;

    &:last-child {
      margin-bottom: 0;
    }

    &.is-active {
      color: var(--color-main);
    }
  }

  &__mobile-btn {
    position: fixed;
    left: var(--content-padding);
    bottom: 4rem;
    z-index: 15;
    width: calc(100% - (var(--content-padding) * 2));
    display: none;

    .button__text {
      order: 2;
    }

    .button__right-icon-wrapper {
      background-color: transparent;
      order: 1;
      margin-right: 1rem;
      margin-left: 0;

      .icon {
        width: 100%;
        height: 100%;
        color: var(--color-main);
      }
    }

    &:hover {
      .icon {
        color: var(--color-white);
      }
    }

    @include mq(sm) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes clouds {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.intro-layer {
  position: absolute;
  width: 117.8rem;
  height: 81.7rem;
  transform: translate(-34.1rem, 39.3rem) scale(1.8);
  pointer-events: none;
  will-change: transform;

  &.is-locked {
    .intro-layer__name {
      opacity: 0;
    }

    .intro-tooltip {
      opacity: 0;
    }
  }

  @include mq(custom, max, 1680) {
    width: 91.8rem;
    height: 63.7rem;
  }

  @include mq(custom, max, 1536) {
    transform: translate(-28.1rem, 25rem) scale(1.8);
  }

  @include mq(lg) {
    transform: translate(-34.1rem, 34rem) scale(1.8);
  }

  @include mq(md) {
    transform: translate(5.9rem, 30rem) scale(1.8);
  }

  @include mq(sm) {
    transform: translate(-14.1rem, 27rem) scale(2.3);
    width: 100%;
    height: 38.7rem;
  }

  @include mq(custom, max, 470) {
    height: 26.7rem;
    transform: translate(-9.6rem, 11rem) scale(1.7);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    opacity: 0;

    &.is-active {
      z-index: 2;
      opacity: 1;
    }

    &:nth-child(1) {
      z-index: 1;
    }

    @include mq(md) {
      display: none;

      &._mobile {
        display: block;
        opacity: 1;
      }
    }
  }

  &__masks {
    position: absolute;
    top: 0;
    left: 0;
    width: 118.8rem;
    height: 83rem;
    z-index: 4;

    @include mq(custom, max, 1680) {
      width: 91.8rem;
      height: 63.7rem;
    }

    @include mq(md) {
      display: none;
    }

    @include mq(sm) {
      width: 100%;
      height: 38.7rem;
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    left: -7px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    .mask-path {
      opacity: 0;
      transition: opacity var(--transition);
      cursor: pointer;

      &:hover {
        opacity: 0.4;
      }
    }

    &:nth-child(1) {
      z-index: 1;
    }
  }

  &__name {
    position: absolute;
    z-index: 4;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 99.9rem;
    background-color: var(--color-main);
    color: var(--color-white);
    font: var(--font-text-sm);
    font-stretch: 140%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
    display: flex;
    align-items: center;
    gap: 1rem;

    &.is-loaded {
      .loader {
        display: none;
      }
    }

    &.is-active {
      background-color: var(--color-white);
      color: var(--color-main);
    }

    &:nth-child(1) {
      top: 30%;
      left: 50%;
    }

    &:nth-child(2) {
      top: 52%;
      left: 83%;
    }

    &:nth-child(3) {
      top: 73%;
      left: 62%;
    }

    &:nth-child(4) {
      top: 63%;
      left: 42%;
    }

    &:nth-child(5) {
      top: 59%;
      left: 15%;
    }

    &:nth-child(6) {
      top: 45%;
      left: 25%;
    }

    @include mq(md) {
      display: none;
    }

  }

  &__tooltips {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.intro-tooltip {
  position: absolute;
  top: 28%;
  left: 38%;
  z-index: 30;
  opacity: 0;
  visibility: hidden;

  &:hover {
    .intro-tooltip__btn {
      transform: rotate(45deg);
    }

    .intro-tooltip__content {
      opacity: 1;
      visibility: visible;
    }
  }

  &.is-choosen {
    opacity: 1;
    visibility: visible;
  }

  &.is-active {

    .intro-tooltip__btn {
      transform: rotate(45deg);
    }

    .intro-tooltip__content {
      opacity: 1;
      visibility: visible;
    }
  }

  &__btn {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--color-accent);
    border-radius: 50%;
    transition: background-color var(--transition), transform var(--transition);

    &:hover {
      background-color: #aa49ba;
    }

    @include mq(sm) {
      width: 1rem;
      height: 1rem;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 4rem;
      height: 4rem;
      background-color: rgba(255, 255, 255, 0.6);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      content: "";

      @include mq(sm) {
        width: 2rem;
        height: 2rem;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1rem;
      height: 0.2rem;
      background-color: var(--color-white);
      transform: translate(-50%, -50%);

      &:nth-child(1) {
        transform: translate(-50%, -50%);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      @include mq(sm) {
        display: none;
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    right: 100%;
    padding-right: 2rem;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition), visibility var(--transition);

    @include mq(sm) {
      top: 100%;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      padding-right: 0;
      padding-top: 1rem;
    }
  }

  &__inner {
    position: relative;
    background-color: var(--color-white);
    width: 22.5rem;
    border-radius: 0.8rem;
    padding: 1.6rem;
    box-shadow: 0px 0px 24px #E0EBF9;

    @include mq(sm) {
      width: 21rem;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: -0.6rem;
      transform: translateY(-50%);
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 6px;
      border-color: transparent transparent transparent var(--color-white);
      content: "";

      @include mq(sm) {
        top: -0.4rem;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 5px 6px 5px;
        border-color: transparent transparent var(--color-white) transparent;
      }
    }

    h4 {
      font: var(--font-heading-5);
      text-transform: uppercase;
      margin-bottom: 1.2rem;
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'46;
    }

    table {
      width: 100%;

      tr {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        td {
          font: var(--font-text-small);
          font-stretch: 130%;
          font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;

          &:nth-child(1) {
            color: var(--color-text-grey);
            margin-right: 2rem;
          }

          &:nth-child(2) {
            min-width: 6.8rem;
          }

        }
      }
    }
  }
}
