.partners {
  &__container {
    padding: 7.2rem 6.4rem;
    background-color: var(--color-main-bg);
    border-radius: 3.2rem;
    color: var(--color-white);

    @include mq(sm) {
      padding: 4rem 2rem;
      border-radius: 2rem;
    }
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__heading-wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: var(--grid-offset);
    margin-bottom: 4rem;

    @include mq(sm) {
      display: block;
      margin-bottom: 3rem;
    }
  }

  &__heading-block {
    &:nth-of-type(1) {
      grid-column: 11 span;
    }

    &:nth-of-type(2) {
      grid-column: 9 span;
    }
  }

  &__heading-text {
    max-width: 50rem;
    margin-bottom: 3.2rem;

    @include mq(sm) {
      max-width: 100%;
      font: var(--font-text-md);
      font-stretch: 140%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'90, 'YTLC'514, 'YTUC'712, 'YTAS'750, 'YTDE'-203, 'YTFI'738;
      margin-bottom: 2rem;
    }
  }

  &__btn {
    .button__icon-wrapper {
      .icon {
        color: var(--color-main-bg) !important;
      }
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: var(--grid-offset);
    padding: 4rem 3.6rem;
    border: 1px solid var(--color-support);
    border-radius: 3.2rem;

    @include mq(md) {
      flex-shrink: 0;
      width: 100%;
    }

    @include mq(sm) {
      padding: 2rem;
      display: block;
    }
  }

  &__item-block {
    display: flex;

    &:nth-of-type(1) {
      grid-column: 11 span;

      @include mq(sm) {
        margin-bottom: 3rem;
      }
    }

    &:nth-of-type(2) {
      grid-column: 9 span;

      @include mq(sm) {
        flex-wrap: wrap;
      }
    }

    @include mq(md) {
      grid-column: 20 span !important;
      align-items: center;
    }
  }

  &__item-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: var(--color-white);
    margin-right: 3.6rem;
    flex-shrink: 0;

    @include mq(sm) {
      width: 6.4rem;
      height: 6.4rem;
      margin-right: 2rem;
    }
  }

  &__item-logo {
    display: block;
    width: 4rem;
    height: 4rem;
    object-fit: cover;

    @include mq(sm) {
      width: 2.8rem;
      height: 3.1rem;
    }
  }

  &__item-name {
    font: var(--font-heading-3);
    text-transform: uppercase;
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;

    @include mq(sm) {
      font: var(--font-heading-3-mobile);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    }
  }

  &__num {
    display: block;
    font: var(--font-num-md);
    margin-right: 1.6rem;
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;

    @include mq(sm) {
      font: var(--font-num-small);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    }
  }

  &__num-text {
    span {
      display: block;
      margin-bottom: 1.7rem;
      max-width: 10.8rem;
      text-transform: uppercase;
      line-height: 1;
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
      opacity: 0.75;

      @include mq(sm) {
        font: var(--font-text-sm);
        margin-bottom: 1rem;
        max-width: 100%;
      }
    }

    .icon {
      fill: none;
      stroke: var(--color-white);
      stroke-width: 2;
      width: 1.2rem;
      height: 1.2rem;

      @include mq(sm) {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  &__item-btn {
    display: block;
    margin-left: auto;
    flex-shrink: 0;
    align-self: flex-start;

    @include mq(sm) {
      margin-left: 0;
      width: 100%;
      margin-top: 2rem;
    }
  }
}
