.services {
  &__heading {
    margin-bottom: 7.2rem;
    max-width: 69.5rem;

    @include mq(sm) {
      margin-bottom: 4rem;
    }
  }

  &__item-heading {
    font: var(--font-heading-3);
    text-transform: uppercase;
    font-stretch: 135%;
    font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
    max-width: 43rem;

    @include mq(sm) {
      font: var(--font-heading-3-mobile);
      font-stretch: 135%;
      font-variation-settings: 'GRAD'0, 'slnt'0, 'XTRA'468, 'XOPQ'96, 'YOPQ'79, 'YTLC'501, 'YTUC'620, 'YTAS'750, 'YTDE'-203, 'YTFI'738, 'opsz'44;
      max-width: calc(100% - 6rem);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: var(--grid-offset);

    @include mq(md) {
      display: flex;
      grid-template-columns: none;
      gap: 0;
    }
  }

  &__item {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-height: 38rem;
    padding: 3.2rem;
    grid-column: 11 span;
    border: 1px solid var(--color-main);
    border-radius: 3.2rem;
    overflow: hidden;

    @include mq(md) {
      grid-column: auto;
      flex-shrink: 0;
      flex-direction: row;
      width: 100%;
    }

    @include mq(sm) {
      padding: 2rem;
      min-height: 23.2rem;
      border-radius: 2rem;
    }

    &:nth-child(2),
    &:nth-child(4) {
      .services__item-img {
        right: 0;
      }
    }

    &:nth-child(3) {
      .services__item-img--hover {
        right: 1.57rem;
      }
    }

    &:hover {
      .services__item-img {
        opacity: 0;
      }

      .services__item-img--hover {
        opacity: 1;
      }

      .services__item-bg-img {
        opacity: 1;
      }

      .services__item-link {
        background-color: var(--color-main);
        border-color: var(--color-main);

        .icon {
          color: var(--color-white);
        }
      }
    }
  }

  &__item-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid var(--color-support);
    transition: border-color 400ms, background-color 400ms;

    &::before {
      position: absolute;
      z-index: 4;
      content: '';
      inset: 0;
    }

    .icon {
      color: var(--color-support);
    }

    @include mq(md) {
      margin-top: 0;
      margin-left: auto;
      flex-shrink: 0;

      background-color: var(--color-main);
      border-color: var(--color-main);

      .icon {
        color: var(--color-white);
      }
    }

    @include mq(sm) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__ticker {
    .site-ticker__item {
      width: 203.2rem;

      @include mq(md) {
        width: 158.2rem;
      }

      @include mq(sm) {
        width: 123.2rem;
      }
    }
  }

  &__item-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    mix-blend-mode: darken;
    opacity: 0.4;
    border-radius: 0 3.2rem 3.2rem 0;
    transition: opacity 400ms;
    height: 100%;
    width: auto;
    object-fit: contain;

    @include mq(lg) {
      opacity: 1;
    }

    @include mq(md) {
      top: auto;
      bottom: -30rem;
      right: auto;
      left: 50%;
      transform: translateX(-50%) rotate(40deg);
    }

    @include mq(sm) {
      bottom: -15rem;
      height: auto;
      width: 100%;
      transform: translateX(-50%) rotate(146deg);
    }
  }

  &__item-img {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    z-index: 2;
    width: 44rem;
    height: 33rem;
    object-fit: contain;
    mix-blend-mode: darken;
    transition: opacity 400ms;
    transform: translate3d(0, 0, 0);

    @include mq(lg) {
      opacity: 0;
    }

    @include mq(md) {
      top: auto;
      bottom: -10rem;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq(sm) {
      width: 35rem;
      height: auto;
    }
  }

  &__item-img--hover {
    opacity: 0;

    @include mq(lg) {
      opacity: 1;
    }
  }
}
