section.section.advantages.js-fade-in
  .site-content-container.advantages__container
    span.site-legend.advantages__legend Преимущества работы
    .advantages__heading-text
      p
        | Приглашаем стать частью нашей команды — команды высококлассных профессионалов, талантливых и амбициозных специалистов, нацеленных на успех и готовых развиваться
    .advantages__list
      .advantages__item
        img.lazyload(src="#" data-src="assets/images/career/advantages/img1.jpg" alt="")
        .div
          h3 Официальный трудовой договор
          p С первого рабочего дня
      .advantages__item
        img.lazyload(src="#" data-src="assets/images/career/advantages/img2.jpg" alt="")
        .div
          h3 Стабильная заработная плата
          p + премии за достижения
      .advantages__item
        img.lazyload(src="#" data-src="assets/images/career/advantages/img3.jpg" alt="")
        .div
          h3 возможности для  роста
          p Обучение, профессиональная литература, участие в профильных конференциях
      .advantages__item
        img.lazyload(src="#" data-src="assets/images/career/advantages/img4.jpg" alt="")
        .div
          h3 комфортный офис в центре города
          p В двух шагах от озера Нижний Кабан
