section.section.shield.js-fade-in
  .site-content-container
    .shield__container
      .shield__img-wrapper
        .shield__tag МЫ ИЩЕМ ТАЛАНТЫ
        img(src="assets/images/career/shield/bg.jpg" alt="" class="shield__img")
      h2.shield__heading.site-heading Присоединяйтесь к команде профессионалов
      .shield__btn-wrapper
        .shield__text
          p Работа у нас — это всегда интересные задачи, возможность проявить себя и&nbsp;поддержка коллектива.
        +button("открытые Вакансии", null, null, null, "hh", "link")(class="shield__btn button--is-transparent" href="/")
