section.section.page-info-block.mod-type2.js-fade-in
  .site-content-container.page-info-block__container
    .page-info-block__col
      span.page-info-block__legend.site-legend о компании
      h2.page-info-block__heading
        | Cпециализируюемся на внедрении геоинформационных систем для решения задач государственного и муниципального управления
      .page-info-block__text
        p
          | Имманентный подход подразумевает отношение к тексту
          | как к автономной реальности, нацеленность на выявление его внутренней структуры.
          | Репрезентативный — рассмотрение текста как особой формы представления информации о внешней тексту действительности.
    .page-info-block__col
      .page-info-block__img-wrapper
        img(src="#" data-src="assets/images/about/img-page.png" alt="Карта ГИС" class="lazyload")
