-
  const itemsSlider = [
    { name: "Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»",
      text: null, img: "img1", linktext: "Посмотреть Проекты",
      alt: "Герб Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»"},
    { name: "Министерство информатизации и связи Удмуртской Республики",
      text: null, img: "img1", linktext: "Посмотреть Проекты",
      alt: "Министерство информатизации и связи Удмуртской Республики"},
    { name: "БУ РК «Дирекция по строительству объектов социальной, транспортной и инженерной инфраструктуры Республики Карелия»",
      text: null, img: "img1",
      linktext: "Посмотреть Проекты", alt: "БУ РК «Дирекция по строительству объектов социальной, транспортной и инженерной инфраструктуры Республики Карелия»"},
    { name: "БУ РК «Дирекция по строительству объектов социальной, транспортной и инженерной инфраструктуры Республики Карелия»",
      text: null, img: "img1", linktext: "Посмотреть Проекты", alt: ""},
    {name: "Администрация города Екатеринбурга", text: null, img: "img1", linktext: "Посмотреть Проекты", alt: ""},
  ]


+pageSlider("Наши клиенты", "Внедряем геоинформационные системы для государственных структур")(class="js-fade-in")
  .swiper.page-slider__slider.js-page-slider(data-slides-number="4")
    .swiper-wrapper
      for item in itemsSlider
        .swiper-slide.page-slider__item
          +card(item.name, item.text, item.img, item.linktext, item.alt)(class="card--no-text")
    .site-pagination
