section.page-intro-block.section
  .site-container
    .page-intro-block__container.lazyload(data-bg="assets/images/page-intro-block/img-bg3.jpg")
      .page-intro-block__info
        .page-intro-block__info-block
          h1.page-intro-block__heading.site-heading Геоинформацион#[br]ные системы для государственных информационных систем
          p.page-intro-block__heading-text
            | Внедряем платформу #[a(href="/") Geometa], настраивая продукт и автоматизируя все необходимые процессы на основе технического задания.
        .page-intro-block__info-block
