main.page-main.main
  include intro.pug
  include aboutCompany.pug
  include aboutNumbers.pug
  include services-clider.pug
  include ../../parts/blocks/small-form.pug
  include ../index/projects.pug
  include ../index/partners.pug
  include clients-clider.pug
  include ../../parts/contact-us.pug
