-
  const itemsSlider2 = [
    { name: "Разработка программного обеспечения",
      text: "Созданные нами информационные системы, программные продукты, мобильные и веб-приложения широко используются в сфере государственного и муниципального управления.",
      img: "img-big", linktext: "Узнать больше",
      alt: "Герб Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»"},
    { name: "Разработка на платформе ArcGIS",
      text: "Создание программных модулей, инструментов геообработки и веб-приложений, расширяющих возможности платформы ArcGIS",
      img: "img-big", linktext: "Узнать больше",
      alt: "Герб Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»"},
    { name: "Разработка мобильных приложений",
      text: "Создание картографических приложений для мобильных устройств с учетом специфики использования ГИС на смартфонах и планшетах для сбора данных в полевых условиях",
      img: "img-big", linktext: "Узнать больше",
      alt: "Герб Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»"},
    { name: "Разработка мобильных приложений",
      text: "Созданные нами информационные системы, программные продукты, мобильные и веб-приложения широко используются в сфере государственного и муниципального управления.",
      img: "img-big", linktext: "Узнать больше",
      alt: "Герб Государственное казенное учреждение «Центр цифровой трансформации Республики Татарстан»"},
  ]


+pageSlider("оказываем услуги по следующим направлениям", null)(class="js-fade-in")
  .swiper.page-slider__slider.js-page-slider(data-slides-number="3")
    .swiper-wrapper
      for item in itemsSlider2
        .swiper-slide.page-slider__item
          +card(item.name, item.text, item.img, item.linktext, item.alt)(class="card--big-img")
    .site-pagination
